{% extends "base.html.twig" %}
{% block body %}
    <h2 style="text-align: center" class="page-header">BLOG</h2>
    {% if is_granted('ROLE_USER') %}
        <a href="/blog/create"> <button>Écrire un message</button></a>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>

        <th>Pseudo</th>

            <th>sujet</th>
        </tr>
        </thead>
        <tbody>
    {% for blogposts in blogpost  %}

        <tr>
            <th scope="row">{{ blogposts.title }}</th>

            <th style="text-transform: capitalize">{{ blogposts.user}}</th>

            <td>{{ blogposts.description }}</td>

            <td><a class="btn btn-default" href="/blog/details/{{ blogposts.id }}">Aller vers la page</a></td>
        </tr>

        {% endfor %}
        </tbody>

    </table>
{% endblock %}