{% extends "base.html.twig" %}
{% block body %}
    <section>
        <section class="col-md-12">
    <h2 style="text-align: center" class="page-header">BLOG</h2>
    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-default" href="/blog/create"> Écrire un message</a>
        <hr>
    {% endif %}
    <table class="table table-striped blog col-xs-10">
        <thead >
        <tr>
            <th>#</th>

        <th>Pseudo</th>

            <th>sujet</th>
        </tr>
        </thead>
        <tbody>
    {% for blogposts in blogpost  %}

        <tr>
            <th scope="row">{{ blogposts.title }}</th>

            <th style="text-transform: capitalize">{{ blogposts.user}}</th>

            <td>{{ blogposts.description }}</td>

            <td><a class="btn btn-default" href="/blog/details/{{ blogposts.id }}"><i class="block fa fa-2x fa-chevron-circle-right" aria-hidden="false"></i> <p>Aller vers la page</p></a></td>
        </tr>

        {% endfor %}
        </tbody>

    </table>
    </section>
    </section>



{% endblock %}