{% extends 'base.html.twig' %}

{% block body %}
    <section  class="container col-md-12 col-lg-12">
        <h2 class="page-header text-center">{{ blogpost.title }}</h2>
        <a class="btn btn-default" href="/blog">Page Blog</a>


        <hr>
    <div class="col-md-12 ">
    <blockquote  class=" text-center ">{{blogpost.body}}</blockquote>
        <hr>
    </div>
        {% if blogpost.user == app.user %}
            <a class="btn btn-default" href="/blog/edit/{{ blogpost.id }}">Editer le post</a>

        {% else %}
        {% endif %}
    </section>

{% endblock %}