{% extends 'base.html.twig' %}

{% block body %}
        <h2 class="page-header">{{ blogpost.title }}</h2>
    {% if blogpost.user == app.user %}
            <a class="btn btn-default" href="/blog/edit/{{ blogpost.id }}">Editer</a>
            {% else %}
    {% endif %}
<p>{{blogpost.body}}</p>
{% endblock %}