{% extends "base.html.twig" %}

{% block body %}
  <section class="sec">
  <h1>UN PC RÉVOLUTIONNAIRE</h1>
  </section>

    <section class="sec2">
      <div class="video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CsL2O4EJOMA" frameborder="0" allowfullscreen></iframe>      </div>
      <div class="text">
        <p>enetur totam ullam unde voluptatem! Accusantium, aliquam dolores eius eveniet fuga neque obcaecati voluptate. Culpa libero neque placeat saepe voluptatum! Ducimus, sunt, vitae. Aut error expedita facere maxime molestiae</p>
      </div>
    </section>

    <section class="subscribe">
      <h2>ABONNEMENTS</h2>
      <div class="payement">
        <div class="colonne">
          <ul class="price-box">
            <li class="header ">Mensuel</li>
            <li class="emph"><strong>€ 39.99</strong> /mois</li>
            <li><strong>28</strong>item1</li>
            <li><strong>29</strong>item2</li>
            <li><strong>30</strong>item3</li>
            <li><strong>31</strong>item4</li>
            <li><strong>32</strong>item5</li>
            <li><strong>33</strong>item6</li>
            <form action="{{ path('order_checkout') }}" method="POST">
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"  class="stripe-button"
                      data-key="pk_test_QrBv8W4KoqQwGzRDWXsoCzQH"
                      data-amount="3999"
                      data-name="Cloud-PC"
                      data-description="Abonnement mensuel (€39.99 per month)"
                      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                      data-locale="auto"
                      data-adress-="true"
                      data-panel-label="Subscribe"
                      data-zip-code="true"
                      data-currency="eur"
                      data-shippingAddress="true"
                      data-label="Abonnement Mensuel">
              </script>
            </form>
          </ul>
        </div>

      <div class="colonne">
        <ul class="price-box best">
          <li class="header header-green">Trimestriel</li>
          <li class="emph"><strong>€ 59.99</strong> /trimestre</li>
          <li><strong>28</strong>item1</li>
          <li><strong>29</strong>item2</li>
          <li><strong>30</strong>item3</li>
          <li><strong>31</strong>item4</li>
          <li><strong>32</strong>item5</li>
          <li><strong>33</strong>item6</li>
          <form  action="{{ path('order_checkouttrim') }}" method="POST">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_QrBv8W4KoqQwGzRDWXsoCzQH"
                    data-amount="5999"
                    data-name="Cloud-PC"
                    data-description="Abonnement trimestriel (€59.99 per month)"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-adress-="true"
                    data-panel-label="Subscribe"
                    data-zip-code="true"
                    data-currency="eur"
                    data-shippingAddress="true"
                    data-label="Abonnement trimestriel">
            </script>
          </form>
        </ul>
      </div>

      <div class="colonne">
        <ul class="price-box">
          <li class="header header-green">Annuel</li>
          <li class="emph"><strong>€ 89.99</strong> /an</li>
          <li><strong>28</strong>item1</li>
          <li><strong>29</strong>item2</li>
          <li><strong>30</strong>item3</li>
          <li><strong>31</strong>item4</li>
          <li><strong>32</strong>item5</li>
          <li><strong>33</strong>item6</li>
          <form action="{{ path('order_checkoutyear') }}" method="POST">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"  class="stripe-button"
                    data-key="pk_test_QrBv8W4KoqQwGzRDWXsoCzQH"
                    data-name="Cloud-PC"
                    data-description="Abonnement annuel (€89.99 per month)"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-adress-="true"
                    data-panel-label="Subscribe"
                    data-zip-code="true"
                    data-currency="eur"
                    data-shippingAddress="true"
                    data-label="Abonnement Annuel">
            </script>
          </form>
        </ul>
      </div>
      </div>
    </section>
{% endblock %}